@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    background: #102447;

}

a {
    text-decoration: none;
    color: currentColor;
}

.container-flex {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

a:hover {
    color: currentColor;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid {
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-logo img {
    width: 140px;
    height: 60px;
}

header .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

.button {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    padding: 12px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

.button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

header .mobile-toggler {

    font-size: 30px;
}


/*---modal---*/

.modal-dialog {
    margin: 0;
    width: 480px;
}

.modal-content {

    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #102447;
}

.modal-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header img {

    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

.modal-header .btn-close {

    background: transparent;
    opacity: 1;
}

.modal-header i {

    color: #fefefe;
    font-size: 30px;
}

.modal-body {

    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body .modal-line {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #274d8a;
    border-bottom: 1px solid #274d8a;
}

.modal-body .modal-line:hover {

    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-line a {

    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i {

    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button {

    width: 100%;
    height: 47px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #274d8a;
    letter-spacing: 2px;
    transition: all .5s ease;
}

.navb-button:hover {

    background-color: #274d8a;
    color: #fefefe;
}

.mobile-modal-footer {

    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #274d8a;
}

.mobile-modal-footer i:hover {

    color: #fefefe;
}

/*---Section filmes-----*/

.carousel_img {
    height: 500px !important;

}

.carousel_img img {
    border-radius: 10px !important;
}

/*---Section Séries-----*/
#series {
    width: 100%;
    background-image: url(./images/wallpaper1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    color: #fefefe;
    width: 100%;
    max-width: 300px;
    padding: 5rem 2.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, .5);
    border-top-color: rgba(255, 255, 255, .5);
    border-left-color: rgba(255, 255, 255, .5);
    border-bottom-color: rgba(255, 255, 255, .1);
    border-right-color: rgba(255, 255, 255, .1);
}

.bg_clr_1 {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg_clr_2 {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
}

.card:hover {
    transform: scale(1.02);
}

.card_container {

    display: flex;
    justify-content: center;
    align-items: center;
}

/*---Contato-----*/


#contato {
    height: 50vh;
    background-color: #102447;
}

.contato_form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.back-to-top-button {
    z-index: 99;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: #6a59d1;
    color: #fff;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

footer {
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 16px 0;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .button {
        padding: 16px 48px;
    }

    .card_container {
        margin: 50px;
    }
}

@media(max-width:450px) {
    .carousel_img {
        height: 450px !important;
    }

    .modal-dialog {

        width: 82%;
    }

    .modal-content {

        border-radius: 0;
        height: 100vh;
        overflow-y: scroll;
        background-color: #102447;
    }

    .modal-header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 88%;
        margin: 0 auto;
        padding-bottom: 16px;
        border-bottom: 2px solid #fefefe;
    }

    .modal-header img {

        width: 140px;
        height: 66px;
        margin-top: 17.5px;
    }

    .modal-header .btn-close {

        background: transparent;
        opacity: 1;
    }

    .modal-header i {

        color: #fefefe;
        font-size: 30px;
    }

    .modal-body {

        width: 88%;
        margin: 0 auto;
        padding: 75px 0 0 0;
        flex: unset;
    }



    .card_container {
        margin: 40px;
    }

    #contato {
        height: 40vh !important;
    }
}